<div class='row'>
	<div class='col-md-offset-1 col-md-10'>

		{{#if isAdmin}}
		<div class='event-form'>

			<h1>Create event for {{group.name}}</h1>

			<form>
			<div class='form-group'>
			<label>Event name</label>
			{{input type='text' value=event.name class='form-control'}}
			</div>


			<div class='form-group'>
			<label>Description</label>
			{{textarea rows='4' value=event.description class='form-control' placeholder='Describe the event'}}
			</div>
			<button class='btn btn-primary' {{action 'createEvent' event}}> Create group </button>
			</form>

		</div>

		{{/if}}

		{{#each group.events as |event|}} 

		{{#link-to 'events.show' event.id}}{{event.name}}{{/link-to}} <br>

		{{/each}}

	</div>
</div>



