<div class='row'>
	<div class='col-md-12'>
		<h1>{{#link-to 'events.show' event.id}}{{event.name}}{{/link-to}}</h1>
		<p>{{event.description}}</p>

		{{#each event.comments as |comment|}} 
			<p>{{comment.user.firstName}} - {{comment.content}}</p>
		{{/each}}

		{{textarea rows='1' value=eventComment class='form-control' placeholder='Write a comment'}}
		<button class='btn btn-primary' {{action postComment eventComment event 'event'}}> Comment </button>

	</div>
</div>