<div class='row'>
	<div class='col-md-offset-4 col-md-4 text-center user-form'>

		<h1>Title Here</h1>
		
		<form>
			<div class="form-group">
			{{input type='text' value=loginEmail class='form-control' placeholder='Email'}}
			</div>
			<div class="form-group">
   		{{input type='password' class='form-control' value=loginPassword placeholder='Password'}}
   		</div>
			<button class='btn btn-primary' {{action 'signIn' 'password'}}> Log in </button>
		</form>


		<hr class='hr-text' data-content='OR'>


		<a {{action "facebookLogin" "facebook"}} class='btn btn-primary'>Login with Facebook</a> 

	</div>
</div>

<div class='row'>
	<div class='col-md-offset-4 col-md-4 text-center user-form form-panel'>
		
		<p>Don't have an account? <a href='#' {{action 'setLoginStatus' false}}>Sign up</a></p>

	</div>
</div>