<div class='row'>
	<div class='col-md-offset-4 col-md-4 text-center user-form'>

		<h1>Title Here</h1>

		<p class="user-form-text">Some text about signing up for this app</p>

		<form>
			<div class='form-group'>
			{{input type='text' value=firstName class='form-control' placeholder='First Name'}}
			</div>
			<div class='form-group'>
			{{input type='text' value=lastName class='form-control' placeholder='Last Name'}}
			</div>
			<div class='form-group'>
			{{input type='text' value=email class='form-control' placeholder='Email'}}
			</div>
			<div class='form-group'>
			{{input type='password' value=password class='form-control' placeholder='Password'}}
			</div>
			<button class='btn btn-primary' {{action 'signUp'}}> Sign Up </button>
		</form>
		
		<hr class='hr-text' data-content='OR'>

		<a {{action 'facebookLogin' 'facebook'}} class='btn btn-primary'>Login with Facebook</a>

	</div>
</div>

<div class='row'>
	<div class='col-md-offset-4 col-md-4 text-center user-form user-form-secondary'>
		<p>Have an account? <a href='#' {{action 'setLoginStatus' true}}>Log in</a></p>
	</div>
</div>

